*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: 0.1s;
}

body[data-load="true"] {
    opacity: 0.1;
    pointer-events: none;
}

input[type="text"],
select {
    width: 100%;
    display: block;
    margin-top: 9px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

input[type="password"] {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

button {
    margin: 4px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

label {
    padding: 12px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin: 4px 12px 4px 4px;
}

.container {
    padding: 20px 12px;
}

.row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.col {
    width: 100%;
}
.card {
    border: 1px solid #ddd;
    padding: 12px;
    margin-top: 8px;
}

.card button {
    width: 100%;
    margin-top: 16px;
}

.group-items {
    list-style: none;
    padding: 0;
    max-width: 469px;
}
.group-items__item {
    padding-left: 0px;
    display: flex;
    gap: 8px;
}

.group-items__item input {
    margin-top: 4px;
    margin-bottom: 4px;
}

.group-items button {
    min-width: 93px;
}

.att-list {
    margin: 16px 0 12px 0;
    padding-left: 0px;
}

.att-list__item {
    display: flex;
    margin: 0;
    border-bottom: 1px dotted lightgray;
    padding: 0 0 8px;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.att-list__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.group-list {
    margin-top: -22px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.group-list__item {
    width: 100%;
    display: none;
}

.group-list__item[data-active="true"] {
    display: block;
}

.group-list__select select {
    min-width: 200px;
}

.btn.btn--inline {
    width: auto;
    margin: 0;
    margin-left: 12px;
    display: inline-block;
}

@media screen and (min-width: 992px) {
    .group-list {
        margin-top: -60px;
    }
    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
    }

    .row {
        flex-wrap: nowrap;
    }
}
